// 后台页面配置
$textColor: #dfe0df;
$iconColor: #dfe0df;
$fontWeight: 700;

// 登录页配置
$loginTextColor: $textColor;
$loginButtonColor: #1f7290;
$loginSuffixColor: #d39c72;
$loginBlurColor: rgb(89 63 30 / 43%);
$BgImage: url(@/static/images/login/bg1.jpg);
$BgFilter: blur(10px);

// sideBar配置
$sideBarWidth: 250px; // 宽度
$sideBarBgColor: #222226; // 背景颜色
$sideBarTextColor: $textColor; // 文字颜色
$sideBarIconColor: $iconColor; // 图标颜色
$sideBarActiveTextColor: $textColor; // 选中项文字颜色
$sideBarActiveIconColor: $iconColor; // 选中项图标颜色
$sideBarTextSize_1: 16px; // 首级文字大小
$sideBarTextSize_2: 14px; // 次级文字大小
$sideBarBgTransition: all 0.4s; // 选项背景颜色动画过渡
$sideBarHoverBgColor: #5e72e4; // 选项Hover背景颜色
$sideBarActiveBgColor: $sideBarHoverBgColor; // 选项选中背景颜色
$sideBarAfterBgColor: $sideBarHoverBgColor; // 选项After背景颜色
$sideBarAfterTransition: width 0.4s; // 选项After宽度动画过渡

// navBar配置

$navBarBackground: #111113;
$navBarPadding: 10px;
$navBarAvatarHeight: 40px;
$navBarHeight: $navBarAvatarHeight + 2 * $navBarPadding;
$navBarRedirectTextColor: #797979;
$navBarRedirectHoverTextColor: $textColor;
$navBarNoRedirectTextColor: $textColor;
$navBarRedirectSize: 16px;
$navBarNoRedirectSize: 18px;

$tagHeight: 30px; // 容器高度
$tagTextSize: 14px; // 文字大小
$tagBackground: $navBarBackground; // 容器背景颜色
$tagItemBackground: transparent; // item背景颜色
$tagTextColor: $textColor; // 文字颜色
$tagCloseTextColor: $textColor; // 关闭按钮颜色
$tagCloseHoverTextColor: #222226; // 关闭按钮Hover文字颜色
$tagCloseBackground: transparent; // 关闭按钮背景颜色
$tagCloseHoverBackground: $textColor; // 关闭按钮Hover背景颜色
$tagAfterHeight: 2px; // After高度
$tagAfterBackground: #5e72e4; // After背景颜色
$tagAfterTransition: width 0.2s; // After过渡动画
$tagAfterLeft: auto; // After加载起点 左{0 ， auto} 中{auto, auto} 右{auto, 0}
$tagAfterRight: auto; // After加载起点 左{0 ， auto} 中{auto, auto} 右{auto, 0}

// appMain配置
$appMainBackground: #111113;
$appMainTextColor: $textColor;
