@import './variables.scss';

:export {
  // 登录页配置
  loginTextColor: $loginTextColor;
  loginButtonColor: $loginButtonColor;
  loginSuffixColor: $loginSuffixColor;

  // sidebar配置
  sideBarWidth: $sideBarWidth;
  sideBarBgColor: $sideBarBgColor;
  sideBarTextColor: $sideBarTextColor;
  // navbar配置
  navBarHeight: $navBarHeight;

}