@import url(//at.alicdn.com/t/font_3418537_cmp3u9ywkhu.css);
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 100px;
  -moz-osx-font-smoothing: grayscale;  // 字体平滑处理和抗锯齿渲染 firefox https://blog.csdn.net/weixin_34657323/article/details/117800756
  -webkit-font-smoothing: antialiased;  // 字体平滑处理和抗锯齿渲染 chrome、safari
  text-rendering: optimizeLegibility;  // CSS⽂本渲染属性text-rendering
  font-family: PingFang SC;
}

body {
  font-size: 0.16rem;

}

#app {
  height: 100%;
  width: 100%;
}
.wow {
  visibility: hidden;
}
*,
*:before,
*:after {
  box-sizing: border-box; // 继承父元素的 box-sizing 属性
  margin: 0;
  padding: 0;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit; // 继承父元素的 color 属性
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}


ul, ol {
  list-style: none;                /*清除列表风格*/
}

div:focus {
  outline: none;
}

.clearFix {
  // 清除浮动
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}
